@page "/users"
@inherits ListUserPage

<MudText Typo="Typo.h3">Usuários</MudText>
<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.TwoTone.Add" Href="/users/adicionar">Novo Usuário</MudButton>
</div>

<MudDataGrid Class="mt-4" Items="@Users" Filterable="true" QuickFilter="Filter" Hideable="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Usuários</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar..."
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Immediate="true"
                      IconSize="Size.Medium"
                      Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.UserName" Title="Login" />
        <PropertyColumn Property="x => x.Email" Title="Email" />
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Href="@($"/users/editar/{context.Item.Id}")"
                                   Color="Color.Primary">
                    </MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   aria-label="Excluir"
                                   OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.UserName)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>